.App {
    text-align: center;
    background-color: white;
    padding: 20px;
    font: "Open Sans";
  }
  
  .title {
    color: black;
    text-align: center;
    margin-top: 30px;
    font-size: 2.5em;
    font-weight: lighter;
    transition: 0.3s ease;
  }

  .title:hover {
    cursor: pointer;
  }
  
  .card-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  